openapi: 3.0.0
servers:
  - url: 'https://api.nhk.or.jp/v2/pg'
info:
  description: >-
    [NHK Program Guide API](https://api-portal.nhk.or.jp/)
  version: 1.0.0
  title: NHK API v2
tags:
  - name: programs
paths:
  '/list/{area}/{service}/{date}.json':
    get:
      tags:
        - programs
      operationId: getProgramsByChannel
      security:
        - api_key: []
      parameters:
        - name: area
          in: path
          description: ID of broadcast area
          required: true
          schema:
            type: string
        - name: service
          in: path
          description: ID of channel or channel group
          required: true
          schema:
            type: string
        - name: date
          in: path
          description: Date in YYYY-MM-DD format
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
        '304':
          description: The resource has not been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: The parameter does not match what was expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not allowed access to the resource or you have exceeded the usage limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The requested resource cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unable to return data due to internal problem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Unable to return data due to internal problem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/genre/{area}/{service}/{genre}/{date}.json':
    get:
      tags:
        - programs
      operationId: getProgramsByGenre
      security:
        - api_key: []
      parameters:
        - name: area
          in: path
          description: ID of broadcast area
          required: true
          schema:
            type: string
        - name: service
          in: path
          description: ID of channel or channel group
          required: true
          schema:
            type: string
        - name: date
          in: path
          description: Date in YYYY-MM-DD format
          required: true
          schema:
            type: string
        - name: genre
          in: path
          description: Genre code defined by ARIB STD-B10
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List'
        '304':
          description: The resource has not been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: The parameter does not match what was expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not allowed access to the resource or you have exceeded the usage limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The requested resource cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unable to return data due to internal problem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Unable to return data due to internal problem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/info/{area}/{service}/{id}.json':
    get:
      tags:
        - programs
      operationId: getProgramInfo
      security:
        - api_key: []
      parameters:
        - name: area
          in: path
          description: ID of broadcast area
          required: true
          schema:
            type: string
        - name: service
          in: path
          description: ID of channel or channel group
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: ID of program
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescriptionList'
        '304':
          description: The resource has not been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: The parameter does not match what was expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not allowed access to the resource or you have exceeded the usage limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The requested resource cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unable to return data due to internal problem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Unable to return data due to internal problem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/now/{area}/{service}.json':
    get:
      tags:
        - programs
      operationId: getProgramsNowOnAir
      security:
        - api_key: []
      parameters:
        - name: area
          in: path
          description: ID of broadcast area
          required: true
          schema:
            type: string
        - name: service
          in: path
          description: ID of channel or channel group
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                required:
                  - "nowonair_list"
                properties:
                  nowonair_list:
                    type: "object"
                    required:
                      - "g1"
                    properties:
                      g1:
                        type: "object"
                        required:
                          - "previous"
                          - "present"
                          - "following"
                        properties:
                          previous:
                            $ref: '#/components/schemas/Program'
                          present:
                            $ref: '#/components/schemas/Program'
                          following:
                            $ref: '#/components/schemas/Program'
        '304':
          description: The resource has not been updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: The parameter does not match what was expected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not allowed access to the resource or you have exceeded the usage limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: The requested resource cannot be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Unable to return data due to internal problem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Unable to return data due to internal problem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: key
      in: query
  schemas:
    List:
      type: object
      required:
        - "list"
      properties:
        list:
          type: "object"
          properties:
            g1:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            g2:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            e1:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            e2:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            e3:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            e4:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            s1:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            s2:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            s3:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            s4:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            r1:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            r2:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            r3:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            n1:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            n2:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            n3:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            tv:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            radio:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
            netradio:
              type: "array"
              items:
                $ref: '#/components/schemas/Program'
    DescriptionList:
      type: object
      required:
        - "list"
      properties:
        list:
          type: "object"
          properties:
            g1:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            g2:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            e1:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            e2:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            e3:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            e4:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            s1:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            s2:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            s3:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            s4:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            r1:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            r2:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            r3:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            n1:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            n2:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            n3:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            tv:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            radio:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
            netradio:
              type: "array"
              items:
                $ref: '#/components/schemas/Description'
    Program:
      type: object
      required:
        - "id"
        - "event_id"
        - "start_time"
        - "end_time"
        - "area"
        - "service"
        - "title"
        - "subtitle"
        - "genres"
      properties:
        id:
          type: "string"
        event_id:
          type: "string"
        start_time:
          type: "string"
        end_time:
          type: "string"
        area:
          $ref: '#/components/schemas/Area'
        service:
          $ref: '#/components/schemas/Service'
        title:
          type: "string"
        subtitle:
          type: "string"
        genres:
          type: "array"
          items:
            type: "string"
    Description:
      type: "object"
      required:
        - "id"
        - "event_id"
        - "start_time"
        - "end_time"
        - "area"
        - "service"
        - "title"
        - "subtitle"
        - "content"
        - "act"
        - "genres"
        - "program_logo"
        - "hashtags"
      properties:
        id:
          type: "string"
        event_id:
          type: "string"
        start_time:
          type: "string"
        end_time:
          type: "string"
        area:
          $ref: '#/components/schemas/Area'
        service:
          $ref: '#/components/schemas/Service'
        title:
          type: "string"
        subtitle:
          type: "string"
        content:
          type: "string"
        act:
          type: "string"
        genres:
          type: "array"
          items:
            type: "string"
        program_logo:
          $ref: '#/components/schemas/Logo'
        program_url:
          type: "string"
        hashtags:
          type: "array"
          items:
            type: "string"
        extras:
          $ref: '#/components/schemas/Extra'
    Area:
      type: "object"
      required:
        - "id"
        - "name"
      properties:
        id:
          type: "string"
        name:
          type: "string"
    Service:
      type: "object"
      required:
        - "id"
        - "name"
        - "logo_s"
        - "logo_m"
        - "logo_l"
      properties:
        id:
          type: "string"
        name:
          type: "string"
        logo_s:
          $ref: '#/components/schemas/Logo'
        logo_m:
          $ref: '#/components/schemas/Logo'
        logo_l:
          $ref: '#/components/schemas/Logo'
    Logo:
      type: "object"
      required:
        - "url"
        - "width"
        - "height"
      properties:
        url:
          type: "string"
        width:
          type: "string"
        height:
          type: "string"
    Extra:
      type: "object"
      properties:
        ondemand_program:
          $ref: '#/components/schemas/Link'
        ondemand_episode:
          $ref: '#/components/schemas/Link'
    Link:
      type: "object"
      properties:
        url:
          type: "string"
        title:
          type: "string"
        id:
          type: "string"
    Error:
      type: "object"
      required:
        - "error"
      properties:
        error:
          type: "object"
          required:
            - "code"
            - "message"
          properties:
            code:
              type: "number"
            message:
              type: "string"
